*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:rgb(193, 251, 232);
    --font-color: rgb(38, 124, 96);
}
body{
    background-color: var(--main-color);
}
span{
    cursor: default;
}
#x-score, .X{
    color: red;
}
#o-score, .O{
    color: blue;
}
.menu-continer{
    background-color: rgba(255, 255, 255, 0.647);
    display: flex;
    justify-content: center;
    color: var(--font-color);
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.menu{
    position: absolute;
    top: 30%;
    background-color: var(--main-color);
    border: solid 2px var(--font-color);
    border-radius: 15px;
    width: 70%;
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu span{
    background-color: var(--font-color);
    border-radius: 15px;
    padding: 5px;
    display: inline-block;
    width: 70%;
    margin-bottom: 5px;
    color: var(--main-color);

}
.menu-btns{
    width: 100%;
}
.continer{
    margin: 0 10px;
    min-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--font-color);
    
}
.top{
    margin: 20px;
    height: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.game{
    margin: 40px 10px;
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: var(--font-color);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
.game div{
    background-color: var(--main-color);
    font-size: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.turn-box{
    margin-top: 40px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
@media(min-width:425px){
    .menu{
        top: 20%;
        max-width: 500px;
        height: 350px;
        font-size: 1.3rem;
        padding: 5px;
    }
    .continer{
        font-size: 1.5rem;
    }
    .game{
        margin: 0 50px;
        max-width: 600px;
    }
    .game div{
        font-size: 5rem;
    }
}